nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 5px 5px lightgray;
}

.Home {
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
}

h3 {
  margin-left: 10px;
}
