nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background-color: #1876d2;
}

.Logo {
  color: white;
  text-decoration: none;
}

.Home {
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
}

h3 {
  margin-left: 10px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.paginationItem {
  font-size: 1.2em;
  background-color: lightskyblue;
  padding: 3px 10px 5px 10px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
}

.paginationItem-active {
  font-size: 1.2em;
  background-color: gray;
  padding: 3px 10px 5px 10px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
}

#button {
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

#search {
  color: white;
}
